body {
  font: 20px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;

}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
  background-color: #1abc9c; /* Green */
  color: #ffffff;
}
.bg-2 {
  background-color: #474e5d; /* Dark Blue */
  color: #ffffff;
}
.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li:hover {
  color: #1abc9c !important;
}
.navig{
  color: black !important;
}
#tests-1:hover{
  color: red;
}
#tests-1{
  transition: color 1s;
}
#tests-2{
  margin-left: 0px !important;
}
#tests-2:first-letter{

    /*float:left;
    */
    color:#f00;
    font-size:300%;
}
#tests-3:hover{
  transform: rotate(-50deg);
}
#tests-3 {
  transition: transform 1s;

}
@keyframes example {
  0%   {transform: rotateZ(0);}
  25%  {transform: rotateZ(-1deg);}
  50%  {transform: rotateZ(0);}
  75%  {transform: rotateZ(1deg);}
  100% {transform: rotateZ(0);}
}
@keyframes example2 {
  0%   {transform: rotateZ(0);}
  25%  {transform: rotateZ(10deg);}
  50%  {transform: rotateZ(20deg);}
  75%  {transform: rotateZ(30deg);}
  100% {transform: rotateZ(40deg);}
}
/* The element to apply the animation to */
body{
  animation-name: example;
  animation-duration: 30s;
  animation-iteration-count: infinite;
animation-timing-function: linear;
overflow-x: hidden;
}
img:hover{
  opacity: 0;
}
img{
  transition: opacity 2s;
}
